@model DataSimhadri.Models.Feedback

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Feedback</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Faculty_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Faculty_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SectionID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student_ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.feedbackscore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.feedbackscore)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Feedback_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
