@model IEnumerable<DataSimhadri.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedbackscore)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feedbackscore)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Feedback_ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Feedback_ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Feedback_ID">Delete</a>
        </td>
    </tr>
}
</table>
